.about__container {
  grid-template-columns: 1.8fr 4fr;
  gap: 25px;
}
.info__item {
  margin-bottom: 40px;
  position: relative;
  padding-left: 35px;
}
.list__info {
  grid-template-columns: 1fr 2fr;
  margin-bottom: 30px;
}
.info__subtitle {
  font-size: var(--h3-font-size);
  font-weight: var(--weight-800);
  margin-block: 25px;
  text-align: left;
  color: var(--first-color);
}
.section__subtitle {
  font-size: var(--h3-font-size);
  font-weight: var(--weight-800);
  margin: 50px;
  text-align: center;
  color: var(--title-color);
}
.section__title span {
  color: var(--first-color);
}
.info__item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 45%;
  width: 30px;
  height: 3px;
  background-color: var(--first-color);
}
.separator {
  border-top: 1px solid var(--text-color);
  max-width: 50%;
  margin: 72px auto 56px;
}

@media screen and (max-width: 680px) {
  .about__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 20px;
  }
  .list__info {
    display: flex;
    flex-direction: column;
  }
}

