.nav__menu {
  background-color: transparent;
  position: fixed;
  inset-block: 0;
  left: -100%;
  width: 100%;
  padding: 60px 30px;
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  z-index: 1000;
}

.show-menu {
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
  transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}
.nav__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
  border-bottom: 1px solid grey;
  color: var(--text-color);
  margin-block: 20px;
  padding: 6px 0px;
}

.nav__item:active *,
.active_link * {
  color: var(--first-color);
}

.nav--icon {
  color: var(--text-color);
  font-size: 24px;
  pointer-events: none;
}

.icon-user {
  padding-bottom: 3px;
}

.nav__toggle {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--first-color);
  padding: 12px 10px;
  z-index: 1000;
}

.nav__toggle span {
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 2px;
  background-color: var(--body-color);
  margin-bottom: 5px;
}

.animate-toggle span:first-child {
  transform: rotate(45deg) translate(2px, 7px);
  width: 30px;
}
.animate-toggle span:nth-child(2) {
  display: none;
}
.animate-toggle span:last-child {
  transform: rotate(-45deg) translate(-2px, -3px);
  width: 30px;
}

@media screen and (min-width: 800px) {
  .icon-user {
    padding-bottom: 0px;
  }
  .nav__menu {
    all: unset;
  }

  .nav__toggle {
    display: none;
  }
  .nav {
    position: fixed;
    inset-block: 0;
    right: 30px;
    display: flex;
    align-items: center;
    z-index: 1000;
  }

  .nav__item {
    height: 50px;
    width: 50px;
    position: relative;
    color: var(--text-white);
    background-color: var(--text-color);
    border-radius: 50%;
    justify-content: center;
    padding: 0px;
  }

  .nav--icon {
    color: var(--text-white);
  }
  .nav__name {
    position: absolute;
    right: 0;
    width: 50px;
    line-height: 49px;
    padding-inline: 20px 20px;
    border-radius: 30px;
    font-size: 18px;
    visibility: hidden;
    z-index: -1;
    transition: all 0.3s ease;
    background-color: var(--first-color);
    color: var(--text-white);
  }
  .active_link .nav__item {
    background-color: var(--first-color);
  }
  .active_link * {
    color: var(--text-white);
  }
  .nav__item:hover .nav__name {
    visibility: visible;
    right: 35px;
    width: auto;
  }

  .nav__item:hover {
    background-color: var(--first-color);
  }
}

