.picture {
  position: absolute;
  left: 190px;
  top: 625px;
  padding: 10px 20px;
  color: white;
  border: 1px solid white;
}
.picture:hover {
  color: var(--first-color);
  border: 1px solid var(--first-color);
}
.pic__icon {
  margin-left: 5px;
}

