@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --first-color: #f43444;
  --title-color: #444647;
  --text-color: grey;
  --text-white: white;
  --body-color: rgb(255, 255, 255);
  --container-color: #f0e8e7;
  --container-second-color: #8fd8d2;
  --body-font: 'Roboto', sans-serif;
  --second-font: 'Fasthand', cursive;
  --big-font-size: 56px;
  --h1-font-size: 50px;
  --h2-font-size: 32px;
  --h3-font-size: 24px;
  --normal-font-size: 16px;
  --small-font-size: 15px;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;
  --weight-800: 800;
}
body.dark {
  --body-color: black;
}
body.aqua {
  --first-color: #08fcd4;
}
body.purple {
  --first-color: #b44cb4;
}
body.blue {
  --first-color: #04a4fc;
}
body.green {
  --first-color: #acfc04;
}
body.yellow {
  --first-color: #fccc04;
}
body.red {
  --first-color: #f43444;
}
body.pastelAqua {
  --first-color: #a4d4cc;
}
body.pastelPurple {
  --first-color: #d4b4d4;
}
body.pastelGreen {
  --first-color: #dcf48c;
}
body.pastelRed {
  --first-color: #fc7454;
}

body.pastelYellow {
  --first-color: #fcdc74;
}
body.pastelBlue {
  --first-color: #b4ccdc;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--weight-500);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input,
textarea {
  background-color: transparent;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  transition: all 0.2s ease-out;
}
img:hover {
  transform: perspective(400px) rotateY(10deg);
}
/*////////////////////Reusable css/////////*/

.container {
  max-width: 1140px;
  margin-inline: auto;
}

.grid {
  display: grid;
  gap: 15px;
}

.section {
  padding-block: 40px;
}

.section__title {
  font-size: var(--big-font-size);
  font-weight: var(--weight-800);
  text-align: center;
  margin-bottom: 50px;
}
.button {
  display: inline-block;
  color: var(--first-color);
  border: 1px solid var(--first-color);
  padding: 10px 70px 15px 35px;
  border-radius: 35px;
  font-family: var(--second-font);
  font-size: 20px;
  font-weight: var(--weight-500);
  position: relative;
  overflow: hidden;
  transition: all 0.24s ease-in-out;
}

.button:hover {
  color: var(--text-white);
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--first-color);
  transform: translateX(100%);
  z-index: -1;
  transition: all 0.3s ease-out;
}

.button:hover::before {
  transform: translateX(0);
}

.button__icon {
  background-color: var(--first-color);
  position: absolute;
  inset-block: -2px;
  right: 0px;
  width: 65px;
  border-radius: 50px;
  color: var(--text-white);
  font-size: 20px;
  text-align: center;
  line-height: 70px;
}
@media screen and (max-width: 680px) {
  .button {
    left: 100px;
  }
}

