.theme__container {
  width: 80%;
  height: 80%;
  background-color: var(--body-color);
  grid-template-columns: repeat(4, 1fr);
  margin-inline: auto;
  place-items: center;
  padding-top: 10px;
}
.toggle__theme {
  position: fixed;
  z-index: 1;
  background-color: var(--body-color);
  top: 60px;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid var(--text-color);
  box-shadow: rgba(0, 0, 0, 0.75) 2px 2px 9px 0px;
  cursor: pointer;
}
.theme__title {
  font-size: var(--h2-font-size);
  text-align: center;
}
.span__color {
  color: var(--first-color);
}
.icon {
  width: 30px;
  height: 30px;
  color: var(--text-color);
}
.theme__img {
  cursor: pointer;
}
.toggle__theme:hover .icon {
  color: var(--first-color);
}

